# JWT CONFIG
JWT_SECRET=

# DATABASE CONFIG
DATABASE_CONNECTION_STRING=

# API KEY
API_KEY=

#SMTP HOST
SMTP_HOST=

#SMTP SENDER EMAIL
SMTP_EMAIL_SENDER=

#SMTP PASSWORD
SMTP_PASSWORD=

# URL FRONT
URL_FRONT=

# URL_BACKOFFICE
URL_BACKOFFICE=