# JWT CONFIG
JWT_SECRET=

# DATABASE CONFIG
DATABASE_CONNECTION_STRING=
DBCONTEXT_POOL_SIZE=1024

# Redis config
REDIS_CONNECTION_STRING=

# API KEY
API_KEY=

#SMTP HOST
SMTP_HOST=

#SMTP SENDER EMAIL
SMTP_EMAIL_SENDER=

#SMTP PASSWORD
SMTP_PASSWORD=

# URL FRONT
URL_FRONT=

# URL_BACKOFFICE
URL_BACKOFFICE=

# ENVIRONMENT
DEPLOYMENT_ENVIRONMENT=

# DEFAULT USER ACCOUNT EMAIL
DEFAULT_USER_ACCOUNT_EMAIL=

# DEFAULT USER ACCOUNT PASSWORD
DEFAULT_USER_ACCOUNT_PASSWORD=

# DEFAULT ADMIN ACCOUNT EMAIL
DEFAULT_ADMIN_ACCOUNT_EMAIL=

# DEFAULT USER ACCOUNT PASSWORD
DEFAULT_ADMIN_ACCOUNT_PASSWORD=